<a
  class="text-lightBlue-600-500 block"
  href="#pablo"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  <div class="items-center flex w-2/5">
    <span
      class="w-12 h-12 inline-flex items-center justify-center rounded-full"
    >
      <img
        alt="..."
        class="w-12 h-12 rounded-full align-middle border-none shadow-lg mx-5"
        src="../../../assets/imgs/pp2.jpeg"
      />
    </span>
    <p class="text-basis font-bold text-wrap p-2 mx-3">Abdoulaye Gueye</p>

  </div>

</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
  <div
    class="bg-blueBlue-600 text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  >
    <a
      href="#pablo"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-lightBlue-600-700"
    >
      Action
    </a>
    <a
      href="#pablo"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-lightBlue-600-700"
    >
      Another action
    </a>
    <a
      href="#pablo"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-lightBlue-600-700"
    >
      Something else here
    </a>
    <div class="h-0 my-2 border border-solid border-lightBlue-600-100"></div>
    <a
      href="#pablo"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-lightBlue-600-700"
    >
      Seprated link
    </a>
  </div>
</div>