<div
  class="relative flex flex-col min-w-0 break-words bg-transparent w-full mb-3"
>
  <div class="rounded-t mb-0 px-4 py-2 bg-transparent">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full max-w-full flex-grow flex-1">
        <h1 class="uppercase text-dark mb-2 text-xl font-bold text-center text-wrap">
          PORTE FEUILLE MOBILE MONEY
        </h1>
      </div>
    </div>
  </div>
  <div class="p-2 flex-auto">
    <!-- mobile money -->
    <div class="relative flex flex-col justify-center  items-center ">
      <div class="pb-2">
        <img src="../../../assets/imgs/orange-money.png" alt="">
      </div>
      <div class="pb-3">
        <img src="../../../assets/imgs/wave.png" alt="">
      </div>
      <div class="pb-3 contrast-80 drop-shadow-2xl">
        <img src="../../../assets/imgs/free-money.png" alt="">
      </div>

      <!--<canvas id="bar-chart"></canvas> -->
    </div>
  </div>
  <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-center">
    <button
      class="p-2 text-white bg-gradient-to-r from-cyan-500 to-blue-500 text-xs rounded-lg active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
    >
      Effectuer un paiement
    </button>
  </div>

</div>