.loan-request-form {
  max-width: 900px;  // Augmentez la largeur maximale du formulaire
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;  // Définir le fond en blanc

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .form-label {
      width: 200px;
      color: var(--primary-light);
      margin-right: 10px;
    }

    input,
    select,
    textarea {
      flex: 1;
      border: 1px solid #ccc;
      padding: 8px;
      border-radius: 7px; // toute l'appli est a des bordures arrondies mounaan pas de bordure
    }

    input[type="file"] {
      flex: none;
    }
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}


