

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <button>INTERVIEW AVEC IA</button>
                </th>
                <th scope="col" class="px-6 py-3">
                    <button>FORMULAIRE</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    TITRE DU PROJET"
                </th>
                <td class="px-6 py-4">
                    OUR Bachelor of commerce
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    MONTANT DU PROJET
                </th>
                <td class="px-6 py-4">
                    450000
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    CATEGORIE PROFESSIONNELLE
                </th>
                <td class="px-6 py-4">
                    Employe dans un cabinet de comptable
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    PROFESSION
                </th>
                <td class="px-6 py-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    NOM DE L'ENTREPRISE
                </th>
                <td class="px-6 py-4">
                    Lorem ipsum dolor sit amet consectetur.
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    TYPE DE PRET
                </th>
                <td class="px-6 py-4">
                    Lorem ipsum dolor sit amet.
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    DUREE DU PRET
                </th>
                <td class="px-6 py-4">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    TYPE DE PAYEMENT
                </th>
                <td class="px-6 py-4">
                    Lorem ipsum dolor sit amet consectetur.
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    DOCUMENTS ET JUSTIFICATIFS
                </th>
                <td class="px-6 py-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                </td>
            </tr>






        </tbody>
    </table>
</div>
