<main class="main">
    <app-header></app-header>
    <!-- FIRST SECTION -->
    <section class="landing">
        <div class="landing-text">
            <h1>La microfinance, autrement...</h1>
            <p>La plateforme de gestion des microfinances qui vous permet de réduire les risques liés aux prêts et d'offrir une meilleure expérience client, tout en contribuant à l'inclusion financière des populations mal desservies
            </p>
            <div class="landing-buttons">
                <button class="btn-secondary">
                    Demander un Prêt
                </button>
                <button class = 'btn-transparent'>En savoir plus ...</button>
            </div>
        </div>
        <div class="landing-img">
            <img src="../../../assets/imgs/landing-img-01.png" alt="Microfinance digitale">
        </div>
    </section>

    <!-- SECOND SECTION -->
    <section class="how-it-works">
        <h2>Comment ça fonctionne ?</h2>
        <div class="inner">
            <div class="card">
                <div class="card-img">
                    <img src="../../../assets/imgs/step-01.svg" alt="ÉTAPE 1 PROCESSUS DE PRET">
                </div>
                <div class="card-text">
                    <h3 class="step-description">Créer votre Compte au niveau de nos agences</h3>
                    <p class = 'text-light'>Veuillez venir au niveau de l’agence la plus proche avec les documents nécessaires d’identification</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../../assets/imgs/step-02.svg" alt="ÉTAPE 1 PROCESSUS DE PRET">
                </div>
                <div class="card-text">
                    <h3 class="step-description">Faire un dépôt</h3>
                    <p class = 'text-light'>Pour déposer vos fonds dans notre agence de microfinance, il vous suffit de vous rendre à l'emplacement le plus proche. Nos agents vous accueilleront chaleureusement et vous guideront tout au long du processus de dépôt. Venez nous rendre visite et commencez à investir dans votre avenir dès aujourd'hui !</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../../assets/imgs/step-03.svg" alt="ÉTAPE 1 PROCESSUS DE PRET">
                </div>
                <div class="card-text">
                    <h3 class="step-description">Effectuer une demande</h3>
                <p class = 'text-light'>Besoin de financement ? Faites votre demande de prêt auprès de notre agence de microfinance en quelques étapes simples. Rencontrez nos conseillers compétents qui vous assisteront dans le processus de demande. Obtenez rapidement une réponse et réalisez vos projets avec notre soutien !</p>
            </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../../assets/imgs/step-04.svg" alt="ÉTAPE 1 PROCESSUS DE PRET">
                </div>
                <div class="card-text">
                    <h3 class="step-description">Attendre l’analyse de votre demande</h3>
                    <p class = 'text-light'>Après avoir soumis votre demande de prêt, notre équipe d'experts procédera à une analyse approfondie pour évaluer votre admissibilité. Nous traitons rapidement toutes les demandes avec soin et professionnalisme. Restez informé de l'avancement de votre demande et soyez assuré que nous travaillons pour vous offrir la meilleure solution financière possible.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../../assets/imgs/step-05.svg" alt="ÉTAPE 1 PROCESSUS DE PRET">
                </div>
                <div class="card-text">
                    <h3 class="step-description">Financer votre projet</h3>
                    <p class = 'text-light'>Dès que votre demande de prêt est approuvée et que vous recevez les fonds, vous êtes prêt à donner vie à vos projets. Utilisez les fonds pour financer votre entreprise, vos études, des travaux de rénovation ou tout autre objectif. Avec notre soutien financier, réalisez vos ambitions et atteignez vos objectifs avec confiance.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../../assets/imgs/step-06.svg" alt="ÉTAPE 1 PROCESSUS DE PRET">
                </div>
                <div class="card-text">
                    <h3 class="step-description">Effectuer des Remboursements</h3>
                <p class = 'text-light'>Une fois que vous avez reçu les fonds de votre prêt, commencez à rembourser selon les termes convenus dans votre contrat. Nos conseillers vous aideront à définir un plan de remboursement adapté à vos besoins et capacités financières. Respectez les critères établis et le calendrier de remboursement pour maintenir une bonne relation avec notre institution et atteindre vos objectifs financiers en toute tranquillité d'esprit.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- THIRD SECTION -->
    <section class="our-partners">
        <h2>Nos Partenaires</h2>
        <p class = 'text-light'>Nos partenaires sont des professionnels et des particuliers qui ont fait confiance à notre agence.</p>
        <button class="btn-secondary">EN SAVOIR PLUS...</button>
        <div class="partners">
            <div class="partner">
                <h4>Orange money</h4>
                <img src="../../../assets/imgs/orange-money.png" alt="">
                <button class="btn-primary">visiter site</button>
            </div>
            <div class="partner">
                <h4>Free money</h4>
                <img src="../../../assets/imgs/free-money.png" alt="">
                <button class="btn-primary">visiter site</button>
            </div>
            <div class="partner">
                <h4>Wave</h4>
                <img src="../../../assets/imgs/wave.png" alt="">
                <button class="btn-primary">visiter site</button>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <app-footer></app-footer>
</main>