h1,h2,h3,h4{
    color: var(--light);
}

// FIRST SECTION
.landing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 0 3rem;



    .landing-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        padding: 2rem;
        transition: all;
        animation: fade-in-left 1s forwards;
        h1,p{
            color: var(--light);
        }
        .landing-buttons{
            padding: 12px;
            margin-top: 1rem;
            button{
                margin: 1rem;
                font-size: 1rem;
            }
        }
    }
    .landing-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        transition: all;
        animation: fade-in-right 1.5s forwards;
    }
    // ANIMATIONS
    @keyframes fade-in-left{
        0%{
            opacity: 0;
            transform: translateX(-3rem);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes fade-in-right{
        0%{
            opacity: 0;
            transform: translateX(3rem);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
}


// SECOND SECTION
.how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    padding: 0 1rem;

    .inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        flex-wrap: wrap;
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 33%;
            height: 100%;
            padding: 2rem;
            margin-bottom: 5rem;
            .card-img{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 66%;
                height: auto;
                img{
                    width: auto;
                    height: 100%;
                }
            }
            .card-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 66%;
                height: auto;
                h3,p{
                    text-align: center;
                }
                p{ font-size: small;}
            }

        }
    }
}


// THIRD SECTION
.our-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    padding: 0 1rem;
    p{
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .partners{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
        .partner{
            border: solid 1px var(--lighter);
            border-radius: 15px;
            background: rgba($color: #fff, $alpha: .1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 20%;
            margin: 1rem;
            padding: 1rem;
            h4{text-transform: uppercase; margin-bottom: 1rem;}

            img{
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 2rem;
            }
            button{
                font-size: small;
            }
        }
    }
}
