// CES PARTIELS PERMETTENT D'ÉVITER D'EMCOMBRER LE FICHIER STYLE PRINCIPAL
@import "./global-styles/global";
@import "./global-styles/buttons";
@import "./global-styles/text-styles";
@import "./global-styles/fields";




 // FONTS / POLICE DE TEXTE
  @font-face {
    font-family: "actor";
    font-weight: normal;
    font-size: normal;
    src: url('/assets/fonts/actor-regular.ttf'); 
  }


// VARIABLES & GRAPHICAL CHART
:root{
    --primary : #003465;
    --primary-light : #0069CB;
    --primary-lighter: #0062FF;
    --primary-contrast: #ACAEFF;
    --primary-dark : #0F1222;
    --primary-darker: black;

    --secondary: #FFC145;
    --secondary-dark: #F7A400;
    --tertiary: #CEB094;

    --radial: radial-gradient(58.43% 103.88% at 56.74% 50%, #0085FF 0%, #003465 100%);
    --light: #ffffff;
    --lighter: #f5f5f5;
    --light-grey: lightgrey;


    --success: #22C55E;
    --success-light: #4AD991;
    --alert: #FF4545;
  }

 
  // RESETS
  *{
    font-family: "actor";
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }


  // TEXT-COLORS
  .text-light{color: rgba(255,255,255,0.4)}

  // BASIC STYLES
  html,body{
    height: 100vh;
    width: 100vw;
  }