.main-light{
  app-user-navbar{
    position: fixed;
    z-index: 999;
    top: 0;
    margin-left: 16rem;
    width: calc(100% - 16rem);
    background-color: white;
  }
  section{
    width: 100%;
    position: relative;
    top: 6rem;
  background: var(--lighter);

  }
}
