<div class="assistant-configuration w-2/3 mx-auto mt-12">

  <div class="assistant-configuration-inner flex flex-row gap-2">
  <div class="left-section w-1/2 flex flex-col">

  <!-- NOM ET DESCRIPTION DE L'ASSISTANT -->
  <div class="section">
    <h3>NOM & DESCRIPTION DE L'ASSISTANT</h3>
    <button class="btn-secondary" (click) = "isEditing.assistantName = !isEditing.assistantName">
      <i class="fas fa-pen-to-square" *ngIf = "!isEditing.assistantName"></i>
      <i class="fas fa-circle-check" *ngIf = "isEditing.assistantName"></i>
    </button>
    <div class="assistant-description">
      <img src="../../../../../assets/imgs/ai-assistant.png" alt="Assistant Image" class="assistant-img">
      @if (isEditing.assistantName) {
        <mat-form-field>
          <mat-label>Nom de l'assistant</mat-label>
              <input
              class="form-input"
              [(ngModel)] = "aiConfigs.assistantName"
              type="text"
              name="assistantName" matInput>
      </mat-form-field>
      } @else {
        <div class="assistant-name">
        {{ aiConfigs.assistantName }}
      </div>
      }

      <button class="edit-button">
        <img src="../../../../../assets/imgs/logo.png" alt="Edit Icon">
      </button>
    </div>
  </div>

  <!-- CONFIGURATION DE GÉNÉRATION IA -->
  <div class="section gen-configs">
    <h3>CONFIGURATION DE GÉNÉRATION IA</h3>

    <div class="generation-config flex flex-row flex-wrap gap-2">
      <div class="config-item">
        <h4>Temperature</h4>
        <div class="config-value">{{ +aiConfigs.generationConfig.temperature*100 }}%</div>
        <div class="config-icon bg-blue-400">
          <i class="fas fa-thin fa-temperature-three-quarters"></i>
        </div>
      <!-- <mat-progress-bar mode="determinate" [value]=aiConfigs.temperature></mat-progress-bar> -->
      <mat-slider min="0" max="1" step=".01" showTickMarks discrete>
        <input [(ngModel)] = "aiConfigs.generationConfig.temperature" value = "{{aiConfigs.generationConfig.temperature}}" matSliderThumb>
      </mat-slider>

      </div>
      <div class="config-item">
        <h4>Top_p</h4>
        <div class="config-value">{{ +aiConfigs.generationConfig.topP * 100 }}%</div>
        <div class="config-icon bg-purple-400">
          <i class="fas fa-thin fa-percent"></i>
        </div>
      <mat-slider min="0" max="100" step="1" showTickMarks discrete >
        <input [(ngModel)] = "aiConfigs.generationConfig.topP" value = "{{+aiConfigs.generationConfig.topP}}" matSliderThumb>
      </mat-slider>

      </div>
      <div class="config-item">
        <h4>Top_k</h4>
        <div class="config-value">{{ aiConfigs.generationConfig.topK }}</div>
        <div class="config-icon bg-green-500">
          <i class="fas fa-thin fa-robot"></i>
        </div>
      <mat-slider min="0" max="100" step="1" showTickMarks discrete >
        <input [(ngModel)] = "aiConfigs.generationConfig.topK" value = "{{aiConfigs.generationConfig.topK}}" matSliderThumb>
      </mat-slider>
    </div>
      <div class="config-item">
        <h4>Max Tokens Générés</h4>
        <div class="config-value">{{ aiConfigs.generationConfig.maxOutputTokens }}</div>
        <div class="config-icon bg-yellow-500">
          <i class="fas fa-thin fa-coins"></i>
        </div>
      <mat-slider min="0" max="10000" step="10" showTickMarks discrete >
        <input [(ngModel)] = "aiConfigs.generationConfig.maxOutputTokens" value = "{{aiConfigs.generationConfig.maxOutputTokens}}" matSliderThumb>
      </mat-slider>
    </div>
    </div>
  </div>
  </div>

   <!-- TON OPTIONNEL & INSTRUCTIONS DE L'ASSISTANT -->
   <div class="section right-section w-1/2">
    <h3>TON OPTIONNEL & INSTRUCTIONS DE L'ASSISTANT</h3>
    <button class="btn-secondary" (click)="isEditing.systemInstructions = !isEditing.systemInstructions">
      <i class="fas fa-pen-to-square" *ngIf="!isEditing.systemInstructions"></i>
      <i class="fas fa-circle-check" *ngIf="isEditing.systemInstructions"></i>
    </button>
    @if (isEditing.systemInstructions) {
      <mat-form-field class = "w-full h-full">
        <mat-label>Instructions de l'assistant ia</mat-label>
            <textarea
            [(ngModel)] = "aiConfigs.systemInstructions"
            type="text"
            name="systemInstructions" matInput></textarea>
    </mat-form-field>
    } @else {
      <p>{{ aiConfigs.systemInstructions }}</p>
    }
  </div>
  </div>





  <!-- CONFIGURATION DE MODÈLE -->
  <div class="section">
    <h3>CONFIGURATION DE MODÈLE</h3>
    <button class="btn-secondary"  (click) = "isEditing.model = !isEditing.model" style = "right: -97%">
      <i class="fas fa-pen-to-square" *ngIf="!isEditing.model"></i>
      <i class="fas fa-circle-check" *ngIf="isEditing.model"></i>
    </button>
    <div class="model-config absolute -mt-12">
      <img src="../../../../../assets/icons/gemini-brain.svg" alt="Model Icon" class="model-icon">
      @if (!isEditing.model) {
      <div class="flex flex-col">
        <div class="model-name">{{ aiConfigs.modelName }}</div>
        <div class="model-id">{{ aiConfigs.model }}</div>
      </div>
    } @else {
      <mat-form-field class = "w-full h-full -mt-14 ml-16">
        <mat-label>Model LLM</mat-label>
        <mat-select (ngModelChange)="onModelChange($event)"  [(ngModel)] = "aiConfigs.model">
          <mat-option *ngFor="let option of models" [value]="option.value">{{option.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    }
    </div>
  </div>
</div>
